@import "../../css/colors.css";
@import "../../css/units.css";

.wrapper {
    display: flex;              /* Flexbox を有効化 */
    flex-direction: row;        /* 子要素を横一列に並べる */
    align-items: center;    /* 高さ揃え（お好みで center などに） */
    gap: 1rem;
    padding-right: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $ui-secondary;
    border-top: 1px solid $ui-black-transparent;
    width: 100%;
}


.scroll-wrapper {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem;

    border-right: 1px solid $ui-black-transparent;
    -webkit-overflow-scrolling: touch;
}

.list-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: calc($space);
    height: 100%;
}


.list-item {
    height: 5rem;
    width: 6rem;
}

.list-item.placeholder {
    background: white;
    filter: opacity(15%) brightness(0%);
}

.action-menu {
    flex-shrink: 0;
    padding: 0.5rem;
}
