@import "../../css/units.css";
@import "../../css/colors.css";

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    overflow: auto;
}

.selector {
    flex: 0 0 auto;
    width: 100%;
}

.detail-area {
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    overflow: visible;
    flex-shrink: 0;
}
