@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.stage-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: $space;
    padding-left: $space;
    padding-right: $space;
}

.stage-canvas-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto; 
}

.stage-wrapper.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.875rem;
    box-sizing: border-box;
}